/* Les couleurs de la charte sont le bleu #0065FC, 
et sa version plus claire  #DEEBFF
ainsi que le gris pour le fond #F2F2F2.
•	color: #0065FC;
    color: #DEEBFF;
    color: #F2F2F2;
*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

body {
    font-family: "Raleway", "Sans serif";
    margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
}
/* En-tête */
.header{
     /* display: flex;  */
     /* justify-content: "center"  */
}

.headerImg{
    padding: 2.73rem 3.3rem;

}

.headerNav {
    font-weight: bold;
}

.headerNavLink{
    font-size: 1em;
    font-weight: 600;
}
.headerNavLink:hover{
        color: #0065FC;
}

.headerSignup{
    font-size: 1em;
    font-weight: 800;
    color: #0065FC;
}
/* Corps de Page*/
.main{

}
/*Section Recherche*/
.search{

}

.searchHeader{

}

.searchHeaderTitle{
    margin-bottom: 0.5rem;
}

.searchHeaderSubtitle{
    margin-top: 0;
    font-weight: 550;
    
}
/*Barre de Recherche*/
.searchForm{

}

.searchFormIcon{
    font-size:1.1rem;
    margin-left:1rem;
}

.searchFormInput{
    font-family: "Raleway";
    font-size: 1.1em;
    font-weight: 800;
    border:none;
    padding: 1rem;
}

.searchFormSubmit {
    background-color: #0065FC;
    color: white;
    font-family: "Raleway";
    font-size: 1.1em;
    font-weight: 600;
    border-radius: 0 1rem 1rem 0;
    border:none;
    padding: 1rem;
    cursor:pointer;
}
/*Filtres de Recherche*/
.searchFilters{

}

.searchFiltersTitle{
    font-size: 1.1em;
    font-weight: 800;
}

.searchFiltersFilter{
  border: 1px solid;
  border-radius: 3rem;
  margin-bottom:1rem;
}

.searchFiltersFilterIconDiv{

}

.searchFiltersFilterIcon{
    color:#0065FC;
    border-radius: 100%;
    background-color: #8ebdd3;
    padding: 1rem;
    height: 1rem;
    width: 1rem;
    cursor:pointer;
}

.searchFiltersFilterTitle{
    font-size: 1.1em;
    font-weight: 800;
}
/*Résultat de Recherche*/
.searchResult{

}

.searchResultIconDiv{

}

.searchResultIcon{
    color:#0065FC;  
    border-radius: 100%;
    border: 1px solid #585656;
    background-color: #D9D9D9;
}

.searchResultText{
    font-weight: 500;
}
/*Section Hebergement*/
.lodging{

}
/*Hébergement à Marseille*/
.lodgingMain{

}

.lodgingMainHeader{

}

.lodgingMainHeaderTitle{

}

.lodgingMainCard{

}

.lodgingMainCardFigure{

}

.lodgingMainCardImg{
    height: 8rem;
}

.lodgingMainCardFigureCaption{

}

.lodgingMainCardFigureCaptionTitle{
    font-size: 1.1rem;
}

.lodgingMainCardDesc{

}

.lodgingMainCardDescPrice{

}

.lodgingMainCardRating{

}

.lodgingMainCardRatingIcon{
    color: #0065FC; 
}
.lodgingMainCardRatingIcon[data-yolo=true] {
    color: #DEEBFF;
}

.lodgingMainViewmore{
    font-size: 1.1em;
    font-weight: 800;
}
/* Les Plus Populaires */
.lodgingPopular{

}

.lodgingPopularTitle{

}

.lodgingPopularTitleIcon{

}

.lodgingPopularCard{
    
}

.lodgingPopularCardImgDiv{
    width: 40%;
    min-width: 33%;
    max-width: 33%;
}

.lodgingPopularCardImg{

}

.lodgingPopularCardDesc{

}

.lodgingPopularSpace{

}
/* Section Activités */
.activity{

}

.activityTitle{

}

.activityCard{

}

.activityCardImgDiv{

}

.activityCardImg{

}
/* Préparation agencement des cartes avec Flexbox */
.activityCard1{

}
.activityCard2{

}
.activityCard3{

}
.activityCard4{
    
}
.activityCard5{

}
.activityCard6{
    
}
/* Pied de Page */
.footer{

}

.footerColumnDiv{

}

.footerColumn{

}

.footerColumnTitle{
    font-size: 1.1em;
    font-weight: 800;
}

.footerColumnLink{
    font-weight: 550;
}

.footerColumnLink:hover{
    text-decoration: underline;
}




