/* Les couleurs de la charte sont le bleu #0065FC, 
et sa version plus claire  #DEEBFF
ainsi que le gris pour le fond #F2F2F2.
•	color: #0065FC;
    color: #DEEBFF;
    color: #F2F2F2;
*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

/* Si besoin
* {
    box-sizing: border-box;
} 
*/

body {
    font-family: "Raleway", "Sans serif";
    margin: 2rem;

}

a{
    color: inherit;
    text-decoration: none;
}
/* En-tête */
.header{
    display: flex;
    justify-content: space-between;
}

.headerImg{

}

.headerNav {
    font-weight: bold;
    margin-left:auto;
}

.headerNavLink{
    font-size: 1em;
    font-weight: 600;
    padding: 1.8rem;
    transition-duration: 0.1s;
}
.headerNavLink:hover{
        color: #0065FC;
        border-top: 3px solid #0065FC;

        

}

.headerSignup{
    font-size: 1em;
    font-weight: 800;
    color: #0065FC;
}
/* Corps de Page*/
.main{

}
/*Section Recherche*/
.search{

}

.searchHeader{

}

.searchHeaderTitle{
    margin-bottom: 0.5rem;
}

.searchHeaderSubtitle{
    margin-top: 0;
    font-weight: 550;
    
}
/*Barre de Recherche*/
.searchForm{
    display: flex;
    flex-direction: row;
    margin: 1rem 0 1rem 0;
}

.searchFormIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    border-radius: 25% 0 0 25%;
    background-color: #f2f2f2;
    height: 3rem;
    width: 3rem;
}

.searchFormInput{
    font-family: "Raleway";
    font-size: 1.1em;
    font-weight: 800;
    border:none;
    padding: 1rem;
}

.searchFormSubmit {
    background-color: #0065FC;
    color: white;
    font-family: "Raleway";
    font-size: 1.1em;
    font-weight: 600;
    border-radius: 0 1rem 1rem 0;
    border:none;
    padding: 1rem;
    cursor:pointer;
}
/*Filtres de Recherche*/
.searchFilters{
    display:flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-top: 1.5rem;

}

.searchFiltersTitle{
    display:flex;
    align-items: center;
    font-size: 1.1em;
    font-weight: 800;
    margin-right: 2rem;
}

.searchFiltersFilter{
    display:flex;
    align-items: center;
    border: 2px solid #e5e5e5;
    border-left: hidden;
    border-radius: 3rem;
    margin-bottom:1rem;
    margin-right: 1.5rem;
    cursor:pointer; 
}
.searchFiltersFilter:hover {
    transform: scale(1.04);
    box-shadow: 3px 2px 6px #DEEBFF;
}

.searchFiltersFilterIconDiv{

}

.searchFiltersFilterIcon{
    color:#0065FC;
    border-radius: 100%;
    background-color: #deebff;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center; /* alignement vertical */
    justify-content: center; /* alignement horizontal */
    margin: -3px; /* pour centrer l'icone sur la bordure/ ameliorer l'aspect visuel*/
}

.searchFiltersFilterTitle{
    font-size: 1.1em;
    font-weight: 800;
    padding:0 1rem 0 1rem;
}
/*Résultat de Recherche*/
.searchResult{
    display:flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.searchResultIconDiv{

}

.searchResultIcon{
    color:#0065FC;  
    border-radius: 100%;
    border: 1.7px solid #e5e5e5;
    background-color: white;
    padding:0.4rem;
    height: 0.4rem;
    width: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.searchResultText{
    font-weight: 500;
    margin: 0 0 0 0; /* Non cumul marge */
}
/*Section Hebergement*/
.lodging{
display: flex;
flex-direction: row;

}
/*Hébergement à Marseille*/
.FlexCard{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.lodgingMain{
    margin: 0 2rem 2rem 0rem;
    /* Alignement interne de la section pour eviter collision avec aside avec margin des flexcards*/
    padding:1rem 0.5rem 2.5rem 2.5rem; 
    border-radius: 1.25rem;
    background-color: #f2f2f2;
}

.lodgingMainHeader{

}

.lodgingMainHeaderTitle{

}

.lodgingMainCard{
    background-color: white;
    padding: 0.3rem;
    margin: 0 2rem 2rem 0;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #c4baba;
    transition-duration: 0.1s;
    cursor: pointer;
}

.lodgingMainCard:hover {
    transform: scale(1.01);
}

.lodgingMainCardFigure{
    margin: 0;
}

.lodgingMainCardImg{
    height: 8rem;
    max-width: 225px;
    max-height: 125px;
    min-width: 225px;
    min-height: 125x;
    border-radius: 1rem 1rem 0 0;
    
}

/* .lodgingMainCardFigureCaption{
    margin: 0.25rem 0.75rem 0.25rem 0.75rem;
} */

.lodgingMainCardFigureCaptionTitle{
    margin: 0.25rem 0.75rem 0.25rem 0.75rem;
    font-size: 16px;
    font-weight: 800;
}

.lodgingMainCardDesc{
    margin: 0.25rem 0.75rem 0.25rem 0.75rem;
    font-size: 14px;
}

.lodgingMainCardDescPrice{
    /* font-weight: bold; */
}

.lodgingMainCardRating{
    /*margin-top: auto permet l'espacement pour mettre en bas de Card */
    margin: auto 0.75rem 0.25rem 0.75rem;
}

.lodgingMainCardRatingIcon{
    color: #0065FC; 
}
.lodgingMainCardRatingIcon[data-yolo=true] {
    color: #DEEBFF;
}

.lodgingMainViewmore{
    font-size: 1.1em;
    font-weight: 800;
    font-weight: bold;
}
/* Les Plus Populaires */
.lodgingPopular{
    display:flex;
    flex-direction: column;
    padding: 1rem 2.5rem 0 2.5rem;
    border-radius: 1.25rem;
    background-color: #f2f2f2;
    margin-bottom: 2rem;
}

.lodgingPopularTitle{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.lodgingPopularTitleIcon{

}

.lodgingPopularCard{
    display:flex;
    flex-direction: row;
    background-color: white;
    padding: 0.3rem;
    margin-bottom: 2.5rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #c4baba;
    transition-duration: 0.1s;
    cursor: pointer;
    min-width: 300px;
    /* max-width: 370px; Travail de la largeur max en agrandissant en cours*/
    min-height: 140px;
}
.lodgingPopularCard:hover{
    transform: scale(1.01);
}

.lodgingPopularCardImgDiv{
    display:flex;
    flex-direction: row;
} 

.lodgingPopularCardImg{
    min-height: 140px;
    max-width: 250px;
    width:100%;
    max-height: 140px;
    border-radius: 1rem 0 0 1rem;
    max-width: 40%;

}

.lodgingPopularCardDesc{
display:flex;
flex-direction: column;
/* justify-content: space-around; */



}

.lodgingPopularSpace{

}
/* Section Activités */
.activity{
    display:flex;
    flex-flow: row wrap;
    margin-bottom: 2.5rem;
    justify-content: space-between;
}

.activityTitle{

}

}
.activityCard{
}

.activityCardImg{
    max-width: 325px;
    max-height:auto;
    min-width: 325px;
    min-height: 500px;
    object-fit:cover;
}

 .activityCardColumn2 .activityCardImg {
    max-width: 325px;
    max-height:225px;
    min-width: 325px;
    min-height: 225px;
}
.activityCardColumn4 .activityCardImg {
    max-width: 325px;
    max-height:225px;
    min-width: 325px;
    min-height: 225px;
}


/* Préparation agencement des cartes avec Flexbox */

.activityCardColumn1, .activityCardColumn2, 
.activityCardColumn3, .activityCardColumn4 { 
    background-color: white;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #c4baba;
    transition-duration: 0.1s;
    max-height: 100%;
    max-width: 100%;
    margin:1rem;
}

/* Pied de Page */
.footer{
    margin:-2rem;
    padding: 1rem 2rem 2rem 2rem;
    background-color: #f2f2f2;

}

.footerColumnDiv{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerColumn{
    display:flex;
    flex-direction: column;
    margin-right: 2rem;

}

.footerColumnTitle{
    font-size: 1.1em;
    font-weight: 800;
}

.footerColumnLink{
    font-weight: 550;
    margin-top: 0.5rem
}

.footerColumnLink:hover{
    text-decoration: underline;
}




